<h1>New Blog</h1>

<%= form_for @page do |f| %>
<div>
  <div>
  <%= f.label :title %>
  <%= f.text_field  :title%>
  </div>
  <div>
  <%= f.label :author%>
  <%= f.text_field  :author%>
  </div>
  <div>
  <%= f.label :body%>
  <%= f.text_area :body%>
  </div>
  
  <%= f.submit 'submit'%>
</div>

<% end %>
<%= link_to 'Back to Blogs', pages_path%>
